body {
  margin: 0;
  font-size: 20px;
  font-family: "Helvetica Regular";
  color: 000;
}

body.index {
  background-image: url(../img/background.jpg);
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Container*/

.container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 108px 0 0;
  height: 100vh;
  width: 94vw;
  background-color: #00817c;
  box-shadow: 14px 0px 0px rgba(0, 0, 0, 0.4);
  transition: linear 1s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hide {
  left: -90%;
}

.button {
  transition: linear 1s;
}

.hide .button {
  margin-left: 25%;
}

.panel {
  margin: 280px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: linear 1s;
}

.hide .panel {
  margin-left: 100%;
  transition: linear 1s;
}

.button {
  margin-left: 40px; 
}

.panel img.text {
  max-width: 80%;
  width: 800px;
}

.panel img.button {
  width: 100px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 50px;
}

.footer__left {
  width: 500px;
  color: #ffffff;
}

.footer__left img {
  width: 300px;
}

.footer__right {
  width: 500px;
  color: #ccc;
}

.footer__right a {
  color: #FBAE17;
  text-decoration: none;
}

img[usemap], map area{
  outline: none;
}

/*Table*/

.table {
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 100vh;  
  text-align: center;
}

.wrapper {
  padding:  15px;
  font-size: 30px;
  background-color: rgb(255, 255, 255, 0.8);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.wrapper > div {
  border: 1px solid #000;
}

.table input {
  font-size: 30px;
  text-align: center;
}

.table input:invalid {
  background-color: rgba(255, 0, 0, 0.1);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}